<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/var/root/osxstats2pulsar</string>
    <key>ThrottleInterval</key>
    <integer>60</integer>
    <key>Label</key>
    <string>local.osxstats2pulsar</string>
    <key>Program</key>
    <string>/var/root/osxstats2pulsar/start.sh</string>
    <key>StandardOutPath</key>
    <string>/var/root/osxstats2pulsar/logfile.log</string>
    <key>StandardErrorPath</key>
    <string>/var/root/osxstats2pulsar/logfile.error.log</string>
  </dict>
</plist>
